<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag(@user.image, class: "user-image img-responsive center-block img-thumbnail") %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h2 class="text-center"><%= @user.bgg_username%>'s <small>Profile Page</small></h2>
      <div class="user-links text-center">
        <% if current_user.id == params[:id].to_i %>
          <%= link_to edit_user_registration_path, class:'btn btn-primary' do%>
            <span class="glyphicon glyphicon-edit"></span> Edit Profile
          <% end %>
        <% else %>
          <%= link_to friendships_create_path(:friend_id => @user), :method => :post, class:'btn btn-success' do %>
            <span class="glyphicon glyphicon-user"></span> Add Friend
          <% end %>
        <% end %>
        <%= link_to user_games_path(@user), class:'btn btn-info' do %>
          <span class="glyphicon glyphicon-tower"></span> <%= @user.bgg_username%>'s Collection
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
      <%= render partial: "follow", locals: {profile: @user} %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
      <%= render partial: "rentals", locals: {profile: @user, loans: @loans, borrowings: @borrowings, requests: @requests} %>
    </div>
  </div>
</div>
