<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag(@user.image, class: "user-image img-responsive center-block img-thumbnail") %>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h2 class="text-center"><%= @user.bgg_username%>'s <small>Profile Page</small></h2>
      <div class="user-links text-center">
        <% if current_user.id == params[:id].to_i %>
          <%= link_to edit_user_registration_path, class:'btn btn-primary' do%>
            <span class="glyphicon glyphicon-edit"></span> Edit Profile
          <% end %>
        <% else %>
          <%= link_to friendships_create_path(:friend_id => @user), :method => :post, class:'btn btn-success' do %>
            <span class="glyphicon glyphicon-user"></span> Add Friend
          <% end %>
        <% end %>
        <%= link_to user_games_path(@user), class:'btn btn-info' do %>
          <span class="glyphicon glyphicon-tower"></span> <%= @user.bgg_username%>'s Collection
        <% end %>
      </div>
      <h2>Friends</h2>
      <ul class="list-group center-block">
        <% for friendship in @user.friendships %>
        <li class="list-group-item clearfix">
          <h3 class="friend-list">
            <%= link_to user_games_path(friendship.friend) do %>
              <strong><%= friendship.friend.bgg_username %></strong>
            <% end %>
            <span class="badge"><%= friendship.friend.games.count %> games</span>
            <span class="btn-group pull-right">
              <% if current_user.id == params[:id].to_i %>
              <%= button_to friendships_destroy_path, method: 'delete', class:'btn btn-danger', params: {friend: friendship.friend.id, inverse: false} do %>
              <span class="glyphicon glyphicon-remove"></span> Remove Friend
              <% end %>
            </span>
          </h3>
          <% end %>
        </li>
        <% end %>
      </ul>

      <h2>Friended by Users</h2>
      <ul class="list-group center-block">
        <% for user in @user.inverse_friends %>
          <li class="list-group-item clearfix">
            <h3 class="friend-list">
              <%= link_to user_games_path(user) do %>
                <strong><%= user.bgg_username %></strong>
              <% end %>
              <span class="badge"><%= user.games.count %> games </span>
              <span class="btn-group pull-right">
                <% if current_user.id == params[:id].to_i %>
                  <%= button_to friendships_destroy_path, method: 'delete', class:'btn btn-danger', params: {friend: user.id, inverse: true} do %>
                    <span class="glyphicon glyphicon-remove"></span> Remove Friend
                  <% end %>
                <% end %>
              </span>
            </h3>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
